---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>Hello,</h3>
			<p>
				I'm trying something new with my website. More than a blog or a portfolio site, it will serve
				as a 🌱 <b>digital garden</b>. (You can read about the history and ethos of digital gardens in
				<a href="https://maggieappleton.com/garden-history/">this essay</a> by Maggie Appleton).
			</p>
			<p>
				I'm also using this space to teach myself and experiment with web development.
				That means you'll probably encounter a lot of broken pages and broken links!
			</p>
			<p>
				As a start, I built this site on 🚀
				<a href="http://astro.build">Astro</a> using their
				<a href="https://astro.build/themes/details/blog/">Blog theme</a>.
				I'm also getting help from 🤖
				<a href="https://github.com/features/copilot">GitHub Copilot</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
