---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2>
			<a href="/">
			  <img src="/hambone.png" alt="Hambone Logo" width="30" height="auto" />
			</a>
		  </h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Old Blog</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/in/leoham" target="_blank">
				<span class="sr-only">Follow me on LinkedIn</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
				  <path
					fill="currentColor"
					d="M1.146 0C.513 0 0 .512 0 1.146v13.708C0 15.487.513 16 1.146 16h13.708c.634 0 1.146-.513 1.146-1.146V1.146C16 .513 15.487 0 14.854 0H1.146zM4.943 13.6H2.542V6.165h2.401V13.6zM3.742 5.165c-.771 0-1.4-.63-1.4-1.4 0-.771.63-1.4 1.4-1.4.771 0 1.4.63 1.4 1.4 0 .771-.63 1.4-1.4 1.4zm9.858 8.435h-2.4v-3.6c0-.857-.015-1.96-1.193-1.96-1.193 0-1.376.933-1.376 1.895v3.665h-2.4V6.165h2.308v1.02h.033c.321-.608 1.104-1.247 2.273-1.247 2.43 0 2.878 1.6 2.878 3.68v3.982z"
				  ></path>
				</svg>
			</a>
			<a href="https://github.com/leoham" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
